a {
    color: $text-cl;
    text-decoration: none;
    display: block;
    cursor: pointer;

}
img {
    display: block;
    margin: auto;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
