main {
  .case {
    .blog_cover {
      h5 {
        padding-top: 1vw;
      }
      h4 {
        font-size: 2.2vw;
        height: 12vw;
        @include mobile {
          height: 14vw;
          font-size: 3.2vw;
        }
      }
      .blog_btn {
        display: flex;
        justify-content: space-between;
        align-items: center;
        p {
          padding-top: initial;
        }
        .arrow_cover {
          width: 3vw;
          height: 2vw;
        }
      }
    }
  }
}
